<div class="input-group">
  <input type="text" name="q" class="form-control border-0 small" placeholder="Buscar" aria-label="Search" aria-describedby="basic-addon2" value="<%= params[:q] %>">
  <div class="input-group-append">
    <button class="btn btn-red" type="submit">
      <i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div>
