<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-logo pt-2 d-flex align-items-center justify-content-center" href="<%= root_path %>">
    Boonus
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="<%= root_path %>">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  
  <% if current_admin_user %>
    <hr class="sidebar-divider">
    <li class="nav-item">
      <%= link_to '<i class="fa fa-store"></i> Empresas'.html_safe, admin_companies_path, class: "collapse-item nav-link collapsed #{add_active_class(admin_companies_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to '<i class="fa fa-tasks"></i> Categorias'.html_safe, admin_categories_path, class: "collapse-item nav-link collapsed #{add_active_class(admin_categories_path)}" %>
    </li>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
