<% content_for :page_title do %>Nova Empresa<% end %>

<% content_for :page_actions do %>
      <%= link_to '<i class="fa fa-angle-left"></i> Cancelar'.html_safe, admin_companies_path %>
<% end %>

<div class="card shadow mb-4">
  <div class="card-header"><b>Formulário de cadastro</b></div>

  <div class="container row mt-3 pb-3">
    <div class="col-md-4">
      <b>Informações da Empresa</b>
    </div>

    <div class="col-md-8">
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>
